<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MapSaver.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4312560F16E3C6E60052F81A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4312562F16E3C6E60052F81A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>43435AD216ECEA0000EAC1B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>43435AD616ECEA5100EAC1B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
